################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/imgui
/x64
/imgui.ini
/.vs